<form class="reservation-form" (ngSubmit)="onSubmit()">
  <div class="reservation-form__group">
    <label class="reservation-form__label">Kesto</label>
    <div class="reservation-form__chips">
      <button
        *ngFor="let d of durations"
        type="button"
        class="reservation-form__chip"
        [class.reservation-form__chip--active]="d === selectedDuration"
        (click)="onSelectDuration(d)"
      >
        {{ d }} min
      </button>
    </div>
  </div>

  <div class="reservation-form__group">
    <label class="reservation-form__label">Aloitusaika</label>
    <div class="reservation-form__slots">
      <button
        *ngFor="let slot of timeSlots"
        type="button"
        class="reservation-form__slot"
        [class.reservation-form__slot--active]="
          slot.startIsoUtc === selectedStartIsoUtc
        "
        [class.reservation-form__slot--disabled]="slot.disabled"
        (click)="onSelectStart(slot)"
        [disabled]="slot.disabled"
      >
        {{ slot.label }}
      </button>
    </div>
  </div>

  <div class="reservation-form__group">
    <label class="reservation-form__label" for="title">Kokouksen nimi</label>
    <input
      id="title"
      type="text"
      class="reservation-form__input"
      [(ngModel)]="title"
      name="title"
      required
      maxlength="100"
      placeholder="Esim. Tiimipalaveri"
    />
  </div>

  <div class="reservation-form__group">
    <label class="reservation-form__label" for="host">Järjestäjä</label>
    <input
      id="host"
      type="text"
      class="reservation-form__input"
      [(ngModel)]="host"
      name="host"
      required
      maxlength="100"
      placeholder="Esim. Tiimi X"
    />
  </div>

  <div class="reservation-form__actions">
    <button type="submit" class="reservation-form__submit">
      Tallenna varaus
    </button>
  </div>
</form>
